<!DOCTYPE html>
<html>
<head>
  <title>follow my lead</title>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="closePopup://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <nav id="nav-bar">
      <div class="container-fluid">
        <img class="logo" src="images/followmylead.png">



        <div style="float:right;">
          Logged in:
          <% if(loggedin) { %>
            TRUE <form method="GET" action="/logout"><button action="/logout" type="submit" class="btn btn-secondary">LOGOUT</button></form>

          <% } else { %>
            FALSE <form method="GET" action="/login"><button action="/login" type="submit" class="btn btn-secondary">LOGIN</button></form>
          <% } %>
        </div>

            <!-- <% if(loggedin) { %>
            <button action="/maps/new" id="new-map" class="btn btn-secondary">CREATE A NEW MAP</button> -->

        <!--     <form action="/maps/new" method="POST" id="new-map-name" >
        <input name="name" placeholder="MAP NAME" style="width: 250px"><button class="btn btn-secondary sm" id="submit-new-small">SUBMIT</button></form>

             <% } %> -->
      </div>
    </nav>

  <main class="content-primary container-fluid">

    <% if (!loggedin) { %>

    <article class="user">
    <header class="user-header"><img class="avatar" src="avatars/billymurray.jpg"><span class="handle">@billmurray2016</span></header>
    <span class="bio">I'm Bill Murray and I'm going places. </span>
    </article>

    <% } %>

    <% if (loggedin) { %>

    <div class="upper-sidebar">
      <!-- <article class="user">
      <header class="user-header"><img class="avatar" src="avatars/billymurray.jpg"><span class="handle">@billmurray2016</span></header>
      <span class="bio">Murray was born on September 21, 1950 in Evanston, Illinois, and was raised in Wilmette, Illinois, a northern suburb of Chicago. </span>
      </article> -->
      <!--
      <article class="user">
      <header class="user-header"><img class="avatar" src="avatars/billymurray.jpg"><span class="handle">@billmurray2016</span></header>
      <span class="bio">Murray was born on September 21, 1950 in Evanston, Illinois, and was raised in Wilmette, Illinois, a northern suburb of Chicago. </span>
      </article>
      -->

    </div>
     <% } %>

     <!-- <% if (loggedin) { %>
     <div class="maps" style="font-style: italic;  ">
      <span id="map-display">MAPS:</span>
    </div>
     <% } %> -->


    <% if (loggedin) { %>
    <div class="lower-sidebar">
      <div class="lower-sidebar-header">
        <span class="favorites-header">Favorite Maps</span>
        <span class="followed-header">Followed Users</span>
      </div>
      <div class="favorites-body">
      </div>
      <div class="followed-body">
      </div>
    </div>
      <% } %>
  </main>
  <aside class="content-secondary">
    <div id="initialmap"></div>
    <div class="footer-favorites">

    <% if (!loggedin) { %>
    <div class="footer-container">
      <img class="footer-image" src="avatars/billymurray.jpg">
      <img class="footer-image" src="avatars/ben.jpg">
      <img class="footer-image" src="avatars/christopher.jpg">
      <img class="footer-image" src="avatars/scarJO.jpg">
      <img class="footer-image" src="avatars/Dan_Aykroyd.jpg">
      <img class="footer-image" src="avatars/liam.jpg">
      <img class="footer-image" src="avatars/billymurray.jpg">
    </div>
      <% } %>

       <% if (loggedin) { %>
    <div class="footer-container">
      <img class="footer-image" src="avatars/chi.jpg">
      <img class="footer-image" src="avatars/dog-5.png">
      <img class="footer-image" src="avatars/dog-1.png">
      <img class="footer-image" src="avatars/dog-3.png">
      <img class="footer-image" src="avatars/dog-4.png">
      <img class="footer-image" src="avatars/dog-6.png">
      <img class="footer-image" src="avatars/babyfoof.jpg">
    </div>

      <% } %>

    </div>
  </aside>
</div>

 <script type="text/javascript" src="/scripts/app.js"></script>

</body>
</html>