<!DOCTYPE html>
<html>
<head>
  <title>follow my lead</title>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
</head>
<body>


<script type="text/javascript" src="scripts/app.js"></script>

<div class="container-fluid">
    <nav id="nav-bar">
      <div class="container-fluid">
        <img class="logo" src="images/followmylead.png">



        <div style="float:right;">
          Logged in:
          <% if(loggedin) { %>
            TRUE <form method="POST" action="/logout"><button action="/logout" type="submit" class="btn btn-secondary">LOGOUT</button></form>
          <% } else { %>
            FALSE <form method="GET" action="/login"><button action="/login" type="submit" class="btn btn-secondary">LOGIN</button></form>
          <% } %>
        </div>
      </div>
    </nav>
  <main class="content-primary container-fluid">
    <div class="upper-sidebar">
      <article class="user">
      <header class="user-header"><img class="avatar" src="avatars/billymurray.jpg"><span class="handle">@billmurray2016</span></header>
      <span class="bio">Murray was born on September 21, 1950 in Evanston, Illinois, and was raised in Wilmette, Illinois, a northern suburb of Chicago. </span>
      </article>
      <!--
      <article class="user">
      <header class="user-header"><img class="avatar" src="avatars/billymurray.jpg"><span class="handle">@billmurray2016</span></header>
      <span class="bio">Murray was born on September 21, 1950 in Evanston, Illinois, and was raised in Wilmette, Illinois, a northern suburb of Chicago. </span>
      </article>
      -->
    </div>
    <div class="lower-sidebar">
      <div class="lower-sidebar-header">
        <span class="favorites-header">Favorite Maps</span>
        <span class="followed-header">Followed Users</span>
      </div>
      <div class="lower-sidebar-body">
      </div>
    </div>
  </main>
  <aside class="content-secondary">
    <div id="initialmap"></div>
    <div class="footer-favorites">
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
      <div class="footer-image">IMAGE</div>
    </div>
  </aside>
</div>





<script>
    let tokenURL = 'https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoicG90YXRvd2F2ZSIsImEiOiJjaXVzbzlsbHIwMGZhMnVwdmVoMGphOHNvIn0.HyG4kMGYnE6zVYU6IBr66Q';
    let attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
    var map = L.map('initialmap').setView([49.2566, -123.11554], 5);
    // here is a pretend set of locations.
    $.get( "api/locations/1", function(data) {
      const locationsArray = [];
      let newLocation;
      function onMapClick(e) {
        if (newLocation !== undefined) {
          map.removeLayer(newLocation);
        }

        let coords = [e.latlng.lat, e.latlng.lng];

        newLocation = L.marker(coords).bindPopup(renderForm("1", e.latlng.lat, e.latlng.lng)).addTo(map).openPopup();

      }

      map.on('click', onMapClick);

      for (let i = 0; i < data.length; i++) {
        //let handle = data[i].handle;
        let avatar = data[i].avatar;
        let summary = data[i].summary;
        let name = data[i].name;
        let url = data[i].url;
        let image = data[i].img;
        let category = data[i].cafestegory;
        let html = renderHTML("handle", image, summary, url, name);
        let coords = [data[i].latitude, data[i].longitude];
        locationsArray.push(L.marker(coords).bindPopup(html));
        L.layerGroup(locationsArray).addTo(map);
      };
    });
    L.tileLayer(tokenURL, { attribution: attribution, maxZoom: 18})
    .addTo(map);
    // the following method takes in an array of points to add to the map view

    function renderHTML(handle, avatar, description, url, place) {

      var $section = $("<section>").addClass("popup-container").html('<img src=\'' + avatar + '\' class="popup-image"><br>' + '<span class="popup-placetitle"><h6>' + place + '</h6></span>');
      var $header = $("<header>").addClass("popup-header");
      var $content = $("<content>").addClass("popup-body").html(description + '<p>' + '<a class="popup-link" href=' + url + '>' + url + '</a>');
      var $footer = $("<footer>").addClass("popup-footer").html("<button type='button' class='popup-edit'>Edit</button><button type='button' class='popup-delete'>Delete</button>");

      $section.append($header);
      $section.append($content);
      $section.append($footer);

      return $($section).prop('outerHTML');

    };



    function renderForm(user, lat, long) {

      var $form = $("<form>").attr("method", "POST").attr("action", "/maps/" + user + "/locations/").addClass("popup-form");



      var $nameLabel = $("<label>").attr("for", "name").text("Name");
      var $summaryLabel = $("<label>").attr("for", "summary").text("Summary");
      var $urlLabel = $("<label>").attr("for", "url").text("URL");
      var $imageLabel = $("<label>").attr("for", "image").text("Image");

      var $name = $("<input>").attr("id", "name_field").attr("name", "name");
      var $summary = $("<input>").attr("id", "summary_field").attr("name", "summary");
      var $url = $("<input>").attr("id", "url_field").attr("name", "url");
      var $image = $("<input>").attr("id", "image_field").attr("name", "image");
      var $long = $("<input>").attr("id", "long_field").attr("name", "long").attr("type", "hidden").attr("value", long);
      var $lat = $("<input>").attr("id", "lat_field").attr("name", "lat").attr("type", "hidden").attr("value", lat);
      var $button = $("<button>");

      var $category = $("<select>")

      var $points = $("<option>").attr("value", "Points of Interest").html("Points of Interest");
      var $beaches = $("<option>").attr("value", "Beaches").html("Beaches");
      var $restaurants = $("<option>").attr("value", "Restaurants").html("Restaurants");
      var $parks = $("<option>").attr("value", "Parks and Nature").html("Parks and Nature");
      var $cafes = $("<option>").attr("value", "Cafes").html("Cafes");

      $category.append($points);
      $category.append($beaches);
      $category.append($restaurants);
      $category.append($parks);
      $category.append($cafes);

      $form.append($nameLabel);
      $form.append($name);
      $form.append($summaryLabel);
      $form.append($summary);
      $form.append($urlLabel);
      $form.append($url);
      $form.append($imageLabel);
      $form.append($image);
      $form.append($long);
      $form.append($lat);
      $form.append($category);
      $form.append($button);



      return $($form).prop('outerHTML');



    };

    $('form').on('submit', function (event) {
        event.preventDefault();
    });



    </script>


</body>
</html>