body {
  font-family: 'Open Sans', sans-serif;
  padding: 100px;

}

@media (min-width: 640px) {
  .content-primary {
    background: #ccc;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 80px;
    width: 38.2%;
    font-family: 'Open Sans', sans-serif;
  }
    .container-fluid .content-secondary {
      background: blue;
      bottom: 0;
      position: fixed;
      right: 0;
      top: 80px;
      width: 61.8%; } }


#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: #2a5468;
  color: #ffffff;
  margin: auto;
  padding: 0 2em;

}

  .header {
    text-orientation: center;
    line-height: 80px;
    font-size: 32px;
    float: left;
    vertical-align: center;
  }

  .logo {
    height: 60px;
    width: 400px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .btn-secondary {
    display: inline;
    float: right;
    margin-top: 8px;
  }

  #new-map {
    margin-top: 25px;
  }

  #new-map-name {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    opacity: 0;
  }

  #new-map-name.show {
    opacity: 1;
      }

  #submit-new-small {
    padding: 3px;
    margin-left: 5px;
    margin-top: 2px;
  }






/*#compose {
  float: right;
  margin: 15px 90px 0 0;
  padding: 12px 8px;
  border-radius: 5px;
  background-color: #e8e8e8;
  img {
    height: 15px;
  }
  &:hover {
    color: #00a087;
  }
}*/

.avatar {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.bio {
  font-size: .9em;
}

.handle {

  line-height: 80px;
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

.user-header {
  vertical-align: middle;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

}

.user {
  background: #ddd;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  overflow-wrap: break-word;
}


.lower-sidebar {
  background: #ddd;
  border: 1px solid #bbb;
  /*border-radius: 10px;*/
  margin: auto;
  margin-top: 15px;
  /*margin-bottom: 10px;*/
  padding: 0 0 0 0;
  width: 80%;
  /*overflow-wrap: break-word;*/
}

#map-display {
  font-size: 85%;
  padding-top: 10px;
  background: #ddd;
  border: 1px solid #bbb;
  margin-top: 20px;
  padding: 5px;
  margin-left: 45px;
  border-radius: 5px;
}

.lower-sidebar-header {
  height: 40px;
}

.favorites-header {
  float: left;
  font-size: 85%;
  text-align: center;
  padding-top: 10px;
  width: 50%;
  height: 100%;
}

.followed-header {
  float: right;
  text-align: center;
  font-size: 85%;
  padding-top: 10px;
  border-left: 1px solid #bbb;
  width: 50%;
  height: 100%;
}


.favorites-body {
  border-top: 1px solid #bbb;
  padding: 12px 0 0 12px;
}

.favorites-body .map {
  display: block;
  height: 120px;
  padding: 0px;
}

.favorites-body .left {
  display: block;
  width: 30%;
  float: left;
  font-size: 60%;
}

.favorites-body .right {
  display: block;
  width: 70%;
  height: 75%;

  float: top;
  padding: 0px;
  margin-left: 100px;
  font-size: 90%;
}
.favorites-body .right .handle {
  height: 70%;
  display: inline;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  height: 40px;

}

.favorites-body .right .name {
  display: inline;
  padding: 0;
  text-align: left;
  display: block;
  }


.followed-body {
  border-top: 1px solid #bbb;
  padding: 12px 0 0 12px;
}

.followed-body .followed {
  display: block;
  height: 120px;
  padding: 0px;
}

.followed-body .left {
  display: block;
  width: 30%;
  float: left;
  font-size: 60%;
}

.followed-body .right {
  display: block;
  width: 75%;
  height: 90%;

  float: top;
  padding: 0px;
  margin: 0 0 0 100px;
  font-size: 90%;
}
.followed-body .handle {
  display: block;
  height: 50px;
  margin-bottom: 5px;
}

.followed-body .right .bio {
  display: block;
  padding: 0 0 0 0;
  text-align: left;
  }

#initialmap {
/*  min-height: 100%;*/
  height: 80%;
/*  width: 61.8%;
  border: 0;
  padding: 0;
  float: right;
  margin-top: 74px;*/
}

.leaflet-popup-content {
/*  border: 1px solid red;*/
  height: 300px;
  width: 200px;
  overflow: scroll;
}

.popup-image {
  width: 200px;
/*  border: 1px solid red;*/
}

.popup-edit {
  position: fixed;
  display: inline-block;
  bottom: 15px;
  left: 20px;
}

.popup-delete {
  position: fixed;
  display: inline-block;
  bottom: 15px;
  left: 60px;
}

.popup-placetitle {
  font-size: 1.5em;
  padding: 0px;
}

.popup-link {
  position: fixed;
  display: inline-block;
  bottom: 40px;
  left: 22px;
}

.popup-description {

}

.footer-favorites {
  background: #ddd;
  height: 100%;
  width: 100%;
  margin: auto;
}

.footer-image {
  width: 107px;
  height: 100px;
  margin: 1px;
  border: 1px solid black;
  display: inline-block;
}